<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>WEBSITE INI</title>
</head>

<body>
    <h1 class="container">Filter</h1>
    <div class="container">
        <form action="" method="get">
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">
                    <input class="form-check-input" type="checkbox" value="lala" id="defaultCheck1" name="id"> ID
                </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">
                    <input class="form-check-input" type="checkbox" value="test" id="defaultCheck1" name="string">
                    String
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="String">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> Integer</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Integer">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> Float</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Float">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control col-sm-4" placeholder="Float"> to<input type="date"
                        class="form-control col-sm-4" placeholder="Float">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> Boolean</label>
                <div class="col-sm-10">
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Choose the boolean</option>
                        <option value="1">true</option>
                        <option value="2">false</option>
                    </select>
                </div>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-primary">Search</button>
            </div><br>
        </form>
    </div><br>



    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">String</th>
                    <th scope="col">Integer</th>
                    <th scope="col">Float</th>
                    <th scope="col">Date</th>
                    <th scope="col">Boolean</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <%  data.forEach((item, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.string %></td>
                    <td><%= item.integer %></td>
                    <td><%= item. float %></td>
                    <td><%= item.date %></td>
                    <td><%= item.boolean %></td>
                    <td>
                        <a href="/edit/<%= index %>"><button type="submit" class="btn btn-success">Edit</button></a>
                        <a href="/delete/<%= index %>"><button type="submit" class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <div class="container">
        <a href="/add" class="btn btn-primary">Add</a>
    </div><br />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
